<%= form_for [@post, @comment || @post.comments.build] do |f| %>
  <div class="panel-body">
    <div class="row form-group">
      <%= f.text_area :body, class: 'col-xs-8 form-control' %>
    </div>
    <%= f.submit t('views.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
